.hamburger {
    margin-left: auto;
    display: flex;
    align-items: center;

    .nav-trigger {
        width: 35px;
        height: 22px;
        display: flex;
        align-items: center;

        .patty {
            width: 35px;
            height: 2px;
            background: $gold;
            border-radius: 2px;
            margin-left: auto;
            transition: all 0.2s;

            &:after, &:before {
                content: '';
                display: block;
                width: 35px;
                height: 2px;
                background: $gold;
                position: absolute;
                z-index: 1;
                border-radius: 2px;
                transition: all 0.2s;
            }
            &:before {
                top: -8px;
            }
            &:after {
                top: 8px;
            }
        }
    }
}