.site-nav {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: -100vw;
	width: 100vw;
	height: 100vh;
	background: $gold;
	box-shadow: -4px 0px 12px rgba(0, 0, 0, 0.1);
	opacity: 0;

	@include tablet-small {
		width: 24rem;
		right: -24rem;
		transition: all 0.2s ease-in-out;
	}
	
	.nav-wrapper {
        padding: 4rem 1.5rem 3rem 3rem;
		height: 100vh;
		@include scroll-y;
	}

	.close {
		display: block;
		position: absolute;
		top: 1rem;
		right: 1.25rem;
		z-index: 10;
		transition: opacity 0.3 ease-in-out;
        font-size: 2rem;
	}

    a {
        color: $white;
        transition: all 0.2s ease;

        &:hover {
            color: $blue;
        }
    }

    .link {
        & + .link {
            padding-top: 2rem;
        }

        a {
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: clamp(1rem, 1.4vw, 1.25rem);

        }
    }
}

body.nav-overlay-open {
	.site-nav {
		right: 0;
		opacity: 1;

		.close {
			position: fixed;
			opacity: 1;
		}
	}
}
