.site-footer {
    background: $blue;
    padding-bottom: 4rem;
    overflow: hidden;

    @include desktop-small {
        padding-bottom: 10rem;
    }

    @import 'membership-banner';

    .footer-logo {
        max-width: 4rem;
    }

    .footer-nav {
        @include tablet {
            grid-column: 2 / span 4;
        }

        @include desktop-small {
            grid-column: 2 / span 6;
        }
    }

    @import 'nav-links';

    @import 'social-links';

    @import 'quotes';

    @import 'contact-info';

    @import 'copyright';
}

body.page-template-membership {
    .site-footer {
        padding-top: 4rem;

        @include desktop-small {
            padding-top: 6rem;
        }
    }
}