.footer-links {
    padding: 2rem 0 3rem 0;

    .link {
        & + .link {
            padding-top: 1rem;
        }

        a {
            color: $white;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}