.quotes {
    margin-top: 4rem;

    @include tablet {
        grid-column: 7 / span 3;
    }

    @include desktop-small {
        grid-column: 9 / span 5;
    }

    blockquote {
        padding: 0;
        margin: 0;
        color: $bright-gold;
        font-family: $ogg;
        font-size: clamp(1.5rem, 2.75vw, 2.25rem);
        line-height: 1.75em;

        &:before {
            display: block;
            content: '';
            width: 1.5rem;
            height: 1.25rem;
            background: url(images/icon-quotes-footer.svg) no-repeat 0 0;
            background-size: contain;
            margin-bottom: 0.5rem;

            @include tablet {
                position: absolute;
                left: -2rem;
                top: 0;
            }

        }

        strong, b {
            color: $white;
            font-weight: normal;
        }

        p:last-of-type {
            &:after {
                content: '”';
            }
        }
    }

    .source {
        display: flex;
        align-items: center;
        padding-top: 1rem;


        .sub-header {
            font-weight: normal;
        }

        &:before {
            display: block;
            content: '— ';
            color: $gray-blue;
            margin-right: 0.5rem;
        }
    }

    .ornament {
        position: absolute;
        top: 0;
        right: -50%;
        z-index: 1;

    }
}