.social-links {
    display: flex;
    align-items: center;

    .social-link {
        width: 2rem;
        height: 2rem;

        & + .social-link {
            margin-left: 2rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}