section.faqs {
    padding: 4rem 0;
    background: $off-white;

    @include desktop-small {
        padding: 6rem 0 6rem 0;
    }

    .faq {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }

        & + .faq {
            margin-top: 4rem;
        }
    }

    .question {
        border: 1px solid $bright-gold;
        padding: 1rem 2rem;
        transition: all 0.2s ease;

        .section-title {
            font-family: $acumin;
            font-size: clamp(1.125rem, 1.5vw, 1.375rem);
            line-height: 1.5em;
        }

        &:hover {
            cursor: pointer;
            background: $bright-gold;

            .section-title {
                color: $white;
            }
        }
    }

    .answer {
        transition: all 0.2s ease;
        background: $white;
        height: 0;
        overflow: hidden;

        & > * {
            transition: all 1s ease;
            opacity: 0;
        }

    }

    .faq.active {
        .question {
            background: $bright-gold;

            .section-title {
                color: $white;
            }
        }
        .answer {
            height: auto;
            margin-top: 1rem;
            padding: 2rem 2rem 0 2rem;
            border-radius: 4px;
            box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);

            & > * {
                opacity: 1;
            }
        }
    }
}