article.post {
    background: $off-white;
    padding: 0 0 8rem 0;

    .article-header,
    .article-body {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .article-header {
        .featured-photo {
            @include aspect-ratio(16, 9);
            @include cover-fill-image;

            img {
                border-radius: 2px;
            }
        }
        .date {
            padding-top: 2rem;
            padding-bottom: 0.5rem;
            
            .sub-header {
                color: $gold;
            }

        }
    }

    .article-body {
        b, strong {
            font-weight: 900;
        }
        blockquote {
            border-left: 4px solid $blue;
            margin-left: 0;
            padding-left: 2rem;
        }
    }

}