section.history {
    padding: 4rem 0 2rem 0;
    background: $off-white;

    @include desktop-small {
        padding: 6rem 0 4rem 0;
    }

    & > * {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .headline {
        text-align: center;
        padding-bottom: 2rem;
    }
}