section.staff {
    padding: 4rem 0;

    @include desktop-small {
        padding: 6rem 0 6rem 0;
    }

    .photo {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 6;
        }
    }

    .info {
        padding-top: 2rem;

        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            padding-top: 0;
            grid-column: 9 / span 4;
        }
    }

    .copy {
        padding: 2rem 0 0 0;
    }
}