.hero-title {
	font-family: $ogg;
	font-size: clamp(2rem, 3.5vw, 3rem);
	line-height: 1.125em;

	@include desktop-small {
		font-size: clamp(4rem, 8vw, 5rem);
	}
}

.page-title {
	font-family: $ogg;
	font-size: clamp(3rem, 6vw, 5rem);
	line-height: 1.125em;
	letter-spacing: 0.025em;
}


.section-title {
	font-family: $ogg;
	font-size: clamp(2.5rem, 4vw, 3.5rem);
	line-height: 1.125em;
	color: $blue;
	letter-spacing: 0.02em;

	&.gold {
		color: $gold;
	}
}

.sub-headline {
	padding-bottom: 0.5rem;
}

.sub-header {
	color: $gold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 700;

	&.blue {
		color: $blue;
	}

	&.gray-blue {
		color: $gray-blue;
	}
}