.membership-form,
.referral-form {
    input {
        border: none;
    }

    label {
        font-weight: 400;
        font-size: 0.875rem;

        &.wpforms-field-sublabel {
            font-weight: 300;
            font-size: 0.75rem;
            
        }
    }

    div.wpforms-container-full .wpforms-form .wpforms-field-label {
        font-weight: 400;
        font-size: 0.875rem;
    }

    div.wpforms-container-full .wpforms-form textarea.wpforms-field-large {
        height: 180px;
    }

    .wpforms-field-radio {
        ul {
            padding-top: 0.5rem !important;
            padding-bottom: 1rem !important;
            display: grid;
            gap: 1rem 2rem;
            
            @include tablet {
                grid-template-columns: repeat(2, 1fr);
            }

            li {
                display: flex;

                input[type="radio"] {
                    min-width: 1rem;
                }
            }

            label {
                font-weight: 300;
                font-size: 0.8125rem;
            }
        }
    }

    .wpforms-form button[type=submit],
    div.wpforms-container-full .wpforms-form button[type=submit]:hover {
        border: none;
        background: $blue;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 600;
        display: inline-block;
        padding: 0.75rem 2rem;
        border-radius: 3px;
    }

    div.wpforms-container-full .wpforms-form label.wpforms-error {
        margin-top: 0.5rem;
        color: $white;
        display: inline-block;
        background: $gold;
        padding: 0.5rem;
        border-radius: 4px;
        text-transform: none;
        letter-spacing: 0;
    }

    div.wpforms-container-full {
        margin-bottom: 0;
    }

    .wpforms-confirmation-container-full {
        color: $white;
        display: inline-block;
        background: $gold;
        padding: 1rem;
        border-radius: 4px;
        border: none;
        font-size: 0.875rem;
        margin: 0;
    }
}