section.info {
    padding: 4rem 0;
    align-items: center;

    @include desktop-small {
        padding: 6rem 0;
    }

    & > * {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .headline {
        padding-bottom: 2rem;
    }

    .membership-form {
        background: #f5f5f5;
        padding: 2rem;
        display: none;
        margin-top: 2rem;

        &.active {
            display: block;
        }
    }

    div.wpforms-container-full .wpforms-form .wpforms-required-label {
        color: $bright-gold;
    }
}