section.home-hero {

    .info {
        grid-row: 1;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .photo {
        grid-row: 1;
        grid-column: 1 / -1;
        z-index: 1;
        @include cover-fill-image;
        @include aspect-ratio(4, 5);

        @include tablet {
            @include aspect-ratio(4, 3);
        }

        @include desktop-small {
            @include aspect-ratio(16, 9);
            max-height: 90vh;
        }

        @media screen and (max-height: 600px) {
            max-height: 100vh;
        }

    }

    .headline {
        h1 {
            color: $white;

            strong {
                color: $gold;
            }
        }
    }

    .copy {
        max-width: 850px;
        margin: 0 auto;
        padding-top: clamp(1rem, 5vh, 2rem);
        padding-bottom: clamp(1rem, 5vh, 2rem);
        color: $white;
    }

    .ornament {
        bottom: -15vh;
        right: -25vw;
        z-index: 25;
        width: 50vw;
        max-width: 40rem;
        
        @include desktop-small {
            bottom: -20vh;
            right: -34vw;
        }
    }
}