section.quote {
    padding: 6rem 0;
    align-items: center;

    @include desktop-small {
        padding: 6rem 0;
    }

    .info {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-row: 1;
            grid-column: 10 / span 4;
            z-index: 10;
        }

        blockquote {
            padding: 0;
            margin: 0;
            color: $blue;
            font-family: $ogg;
            font-size: clamp(1.5rem, 2.5vw, 2rem);
            line-height: 1.5em;

            &:before {
                display: block;
                content: '';
                width: 1.5rem;
                height: 1.25rem;
                background: url(images/icon-quotes.svg) no-repeat 0 0;
                background-size: contain;
                margin-bottom: 0.5rem;
                margin-top: 0.75rem;
    
                @include tablet {
                    position: absolute;
                    left: -2rem;
                    top: 1.5rem;
                    margin-top: 0;
                }
    
            }

            p {
                letter-spacing: 0.035em;

                strong, b {
                    color: $gold;
                }

                &:last-of-type {
                    &:after {
                        content: '”';
                    }
                }
            }

        }

        .source {
            padding-top: 2rem;
            display: flex;
            align-items: center;

            &__info {
                .name {
                    padding-bottom: 0.25rem;
                    text-transform: uppercase;
                    color: $blue;
                    font-weight: bold;
                    letter-spacing: 0.05em;
                    font-size: clamp(0.875rem, 1.1vw, 1rem);
                }

                .meta {
                    color: $light-blue;
                    font-size: clamp(0.75rem, 0.9vw, 0.875rem);
                    line-height: 1.25em;           
                }
            }
        }
    }

    .photo {
        padding-top: 3rem;

        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-row: 1;
            grid-column: 2 / span 7;
            padding-top: 0;

        }

        .caption {
            padding-top: 0.5rem;            
            p {
                font-size: 0.75rem;
                color: $gray-blue;
            }
        }
    }

    &:nth-child(odd) {
        .info {
            
            @include desktop-small {
                grid-column: 2 / span 4;
                transform: translateX(1rem);
            }


            @include desktop-large {
                transform: translateX(0);
            }
        }

        .photo {
            @include desktop-small {
                grid-column: 7 / span 7;

            }

        }
    }

    &-1 {
        padding-top: 0;

        .section-ornament {
            background: url(images/bg-topo-2-gray.svg) no-repeat 0 0;
            background-size: contain;
            position: absolute;
            top: 10vh;
            right: -10vw;
            z-index: 25;
            width: 80vw;
            height: 80vw;
            max-width: 80rem;
            
            @include desktop-small {
                top: 5vh;
                right: -25vw;
                max-width: 40rem;
                width: 50vw;
                height: 50vw;
            }
        }
    }

    &-2 {
        background: $light-blue;
        color: $white;
        padding: 8rem 0;

        @include desktop-small {
            padding: 12rem 0;
        }

        &:before {
            display: block;
            content: '';
            width: 100%;
            background: $white;
            position: absolute;
            left: 0;
            top: -1px;
            clip-path: polygon(0 0, 0 50%, 100% 0);
            height: 10vh;

            @include desktop-small {
                height: 20vh;
            }
        }
    
        &:after {
            display: block;
            content: '';
            width: 100%;
            background: $white;
            position: absolute;
            left: 0;
            clip-path: polygon(0 100%, 100% 100%, 100% 50%);
            bottom: -1px;
            height: 10vh;

            @include desktop-small {
                height: 20vh;
            }
        }        

        .info {
            .sub-header {
                color: $white;
            }

            blockquote {
                p {
                    color: $white;

                    strong, b {
                        color: $blue;
                    }
                }
            }

            .source__info {
                .name {
                    color: $white;
                }

                .meta {
                    color: $blue;
                }
            }

        }



        .section-ornament {
            background: url(images/bg-topo-blue.svg) no-repeat 0 0;
            background-size: contain;
            position: absolute;
            top: 10vh;
            left: -10vw;
            z-index: 5;
            width: 80vw;
            height: 80vw;
            max-width: 80rem;
            
            @include desktop-small {
                top: 25vh;
                left: -25vw;
                max-width: 40rem;
                width: 50vw;
                height: 50vw;
            }
        }

    }

    &-3 {
        @include desktop-small {
            padding-bottom: 8rem;
        }

        .info {
            z-index: 10;
        }

        .section-ornament {
            background: url(images/bg-ornament-orange.svg) no-repeat 0 0;
            background-size: contain;
            position: absolute;
            top: 10vh;
            right: -50vw;
            z-index: 0;
            width: 80vw;
            height: 80vw;
            max-width: 80rem;
            
            @include desktop-small {
                top: 20vh;
                right: -34vw;
                max-width: 40rem;
                width: 50vw;
                height: 50vw;
            }
        }

        .photo {
            img {
                position: relative;
                z-index: 50;
            }
        }

        .photo-ornament {
            background: url(images/bg-circles-blue.svg) no-repeat 0 0;
            background-size: contain;
            position: absolute;
            bottom: -5vh;
            left: -20vw;
            z-index: 0;
            width: 40vw;
            height: 40vw;
            
            @include desktop-small {
                bottom: -10vh;
                left: -10vw;
                width: 20vw;
                height: 20vw;
            }
        }

    }
}