.cta {
    .btn {
        display: inline-block;
        padding-bottom: 0.25rem;
        border-bottom: 1px solid;
        font-family: $ogg;
        font-size: clamp(0.875rem, 1.2vw, 1.125rem);
        letter-spacing: 0.15em;
        text-transform: uppercase;


        &.white {
            color: $white;
        }
    }
}