section.hero {

    .info {
        grid-row: 1;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .headline {
            color: $white;
            padding-top: 2.5rem;

            .page-title {
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }

    .photo {
        grid-row: 1;
        grid-column: 1 / -1;
        z-index: 1;
        @include cover-fill-image;
        @include aspect-ratio(4, 3);
        max-height: 90vh;

        @include desktop-small {
            @include aspect-ratio(16, 8);
        }
    }

    .ornament {
        bottom: -15vh;
        right: -25vw;
        z-index: 25;
        width: 50vw;
        max-width: 40rem;
        
        @include desktop-small {
            bottom: -20vh;
            right: -34vw;
        }
    }
}